@use '../../../utilitySass/utility.scss' as utility;

.background{ background-color: utility.$c1; }


header{
    width: 95%;
    margin: 0px auto;
    padding: 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}


button{ 
    display: block;
    height: 24px;
    overflow: hidden;
    cursor: pointer;      
    img{ object-position: 0px -238px; }
}


nav{
    position: absolute; 
    top: 100%; right: -200px; // esterno alla view

    li{ 
        width: 150%;
        position: relative;
        left: 0%;
        
        &:nth-of-type(1){ transition: left 0.5s linear 0ms;}
        &:nth-of-type(2){ transition: left 0.8s linear 0ms;}
        &:nth-of-type(3){ transition: left 1s linear 0ms;}
    }

    ul.move{ 

        // <li> sbalzati di 20px ciascuno --> 1° a -220%
        @for $n from 0 through 2 {    
            li:nth-of-type( #{ $n + 1 }){ left: #{ ( 20 * $n ) - 220% } }
        }

        // <li> sbalzati di 20px ciascuno --> 1° a -180%
        @media all and ( min-width: 800px ){  
            @for $n from 0 through 2 {
                li:nth-of-type( #{ $n + 1 }){ left: #{ ( 20 * $n ) - 180% } }
            }
        }
        
        // <li> sbalzati di 20px ciascuno --> 1° a -160%
        @media all and ( min-width: 1500px ){  
            @for $n from 0 through 2 {
                li:nth-of-type( #{ $n + 1 }){ left: #{ ( 20 * $n ) - 160% } }
            }
        }
    }

    a{
        display: block;
        padding: 8px;
        margin: 8px 0;
        border-radius: 20px;
        background-color: utility.$c1;
        cursor: pointer;
    }

}
