
<nav>
  <ul class="flex gap-5 text-white">
    @for (item of items(); track $index) {
      <li class="group animate-fade animate-once animate-ease-linear animate-duration-500 
      nth-1:animate-delay-0 nth-2:animate-delay-200 nth-3:animate-delay-400 text-center"
      >

        @if ( item.esterno ) {
            <a class="inline-block rounded-xl bg-gray-700 p-7" [href]="item.path" target="_blank">
                <app-icons [icon]="$index"></app-icons>
            </a>
        }
        @else {
            <a class="inline-block rounded-xl bg-gray-700 p-7" [routerLink]="item.path" >
                <app-icons [icon]="$index"></app-icons>
            </a>
        }

        <p class="mt-2 text-2xl opacity-0 transition-opacity duration-300 group-hover:opacity-90 group-active:opacity-90">
          {{ item.text }}
        </p>
      </li>
    }
  </ul>
</nav>

<div class="absolute inset-x-0 bottom-5 text-center text-white opacity-50">
  <p class="text-2xl">{{ dataDev()[0] }}</p>
  <p class="text-xl">{{ dataDev()[1] }}</p>
</div>
